.button {
  background-color: #6c5ce7; /* Purple */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  height: 100px;
  border-radius: 10px;
  filter: drop-shadow(0 0.5rem 0.75rem #102711);
  transition: all 0.3s ease;
}

.button:hover {
  transform: translateY(-5px);
}

.button:active {
  transform: translateY(0px);
}

#frame__url__loader {
  width: 0;
  height: 0;
}

body {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  height: calc(100vh - 5rem);
  overflow-y: auto;
}

/* Remove scrollbar on the container but allow scrolling */
body::-webkit-scrollbar {
  width: 0;
}

/* Remove scrollbar on the container but allow scrolling */
body {
  scrollbar-width: none;
}
