.button {
  background-color: #6c5ce7; /* Purple */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  height: 100px;
  border-radius: 10px;
  filter: drop-shadow(0 0.5rem 0.75rem #404240);
  transition: all 0.3s ease;
  font: 1.5em sans-serif;
  font-weight: bold;
}

.button:hover {
  transform: translateY(-5px);
}

.button:active {
  transform: translateY(0px);
}

#frame__url__loader {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 10;
  height: 10;
}

body {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  height: calc(100vh - 5rem);
  overflow-y: auto;
  background-color: black;
  background-attachment: fill;
}

body::before {
  content: "";
  position: absolute;
  top: 10vw;
  left: 25vh;
  width: 100%;
  height: 100%;
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -10;
}

/* Remove scrollbar on the container but allow scrolling */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Remove scrollbar on the container but allow scrolling */
body {
  scrollbar-width: none;
}
